* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
    /* border-top: 5px solid #fff; */
    /* background: #f9f9f9; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    /* margin top caso as imagens não ocupem toda a página */
    margin-top: 4rem;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    /* RESOLVER largura e altura das imagens */
    width: 820px;
    height: 312px;
    /* ------------------------------------- */
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.section-slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(104, 196, 101);
    margin-bottom: 80px;
    justify-content: start;
    align-items: center;
}

header ul {
    width: 100%;
    height: 20px;
    background-color: rgb(104, 196, 101);
    padding: 30px;
    padding-top: 90px;
    list-style: none;
    display: flex;
}

header ul li a {
    text-decoration: none;
    padding-left: 30px;
    width: auto;
    display: flex;
}

body {
    background-color: rgb(233, 231, 231);
}

div img a {
    display: inline-flex;

}

.redes-sociais{
    background-color: rgb(104, 196, 101);
    width: 100%;
    height: 100px;
    
}

footer{
    display: flex;
    background-color: rgb(104, 196, 101);
    justify-content: space-around;
    align-items: center;
}

footer h1{
    text-align: center;
    color: aliceblue;
}


.icones{
    width: 50px;
    height: 50px;
    padding-left: 15px;
    border-radius: 0%;
}

.mapa-conteudo {
    justify-content: center;
    align-items: center;
    display: flex;
    left: 50%;
}


a {
    color: rgb(218, 110, 218)
}

img {
    border-radius: 50%;
}

.img-slider {
    border-radius: 0;
}

header img{
    padding-left: 5px;
    height: 100px;
    width: 100px;
    

}
.header 
{
display: flex;
}
.navbar {

display: flex;


}
.header .navbar a{
color:floralwhite;

display: block;
margin: 1.5rem;
padding: .1rem;
font-size: 30px;

}
p {
    color: rgb(15, 104, 27);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

li {
    color: rgb(218, 110, 218);
    
    font-size: 18px;


}

h2 {
    color: rgb(104, 196, 101);
    font-size: 50px;
    text-align: center;
   
}
.volta
{
    position:fixed;
    width:60px;
    height:60px;
    margin-left:93%;
    
    cursor:pointer;
}

.container-1 {
    width: 30%;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    float: right;
}
   

.container-2 {
    justify-content: center;
    align-items: center;

    padding-right: 4%;
    display: flex;
    text-align: center;
    width: 30%;
    float: right;
}

.container-3 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 1%;
    text-align: center;
    width: 30%;


}

.dentro {
    display: inline; 

}

.dentro img
{
    width:160px;
    height:155px;
}

.dentro ul
{
    list-style:none;
}
.linha {
    display: flex;
    margin-left: 8%;
    width: 90%;
    flex-wrap: wrap;
}

.titulo-principal {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 35px;
    color: rgb(15, 104, 27);
    font-family: Arial, Helvetica, sans-serif;
} 


@media screen and (max-width: 600px) {
    .header .navbar a {
       float: none; 
       text-align: center;
       width: 100%;
    }
}